{% extends 'bikri/navbar.html' %}

{% block body %}
<div class="container mx-3">
<h4 class="header mt-3" style="font-family:monospace;">Your Cart</h4>
<table class="table shadow-lg table-bordered">
    <thead >
        <tr>
            <th scope="col">Item</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">.</th>
            </tr>
    </thead>
    <tbody>
{% for data in products %}
<tr>
    <td>
        <a class="text-decoration-none" href="{% url 'products:view_product_single' data.id %}">
        <img class="rounded " src="{{data.image.url}}" style="width:120px;height:100px; object-fit:contain;">
<h5 class="font-weight-bold mx-5 px-3" >{{data.title}}</h5></a></td>
<td><h5 class="font-weight-bold mt-5">Rs. {{data.price}}</h5></td>
<td><h5 class="font-weight-bold mt-5">Enter Quantity</h5>
<form class="form-group" method="POST">
    {% csrf_token %}
<input class="form-control my-3" type="text" placeholder="Quantity" value=1 name="qty" style="max-width: 20%;">
</td>
<td><input class="btn btn-info mt-5" type="submit" value="Confirm"></td>
</form>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}